.buttonAddMessage {
  display: block;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog a {
  text-decoration: none;
  color: white;
}

.dialogItem img {
  width: 50px;
}

.dialogItem {
  padding: 10px;
}

.dialogsItems {
  padding: 10px;
}

.messages {
  padding: 10px;
}

.messages .message {
color: white;
}




